<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dacia lu' tata</title>

    <link href="https://fonts.googleapis.com/css?family=Kalam:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../public/assets/css/style.css"/>
</head>
<body>
<div class="g_container cart-page">
    <nav class="g_row navbar box">
        <a class="g_col-12 g_col-sm-3 g_col-lg-2 logo-container" href="index.html">
            <img src="../../../public/assets/img/logo.png" alt="TOYR" class="logo"/>
        </a>
        <div class="g_col-12 g_col-sm-9 g_col-lg-10 navlinks">
            <a class="navitem" href="register.html">
                Inregistrare
            </a>
            <a class="navitem" href="login.html">
                Autentificare
            </a>
        </div>

    </nav>

    <main>
        <div class="box">
            <h3 class="box-title">
                Coșul tău
            </h3>
            <hr/>
            <div class="g_row cart-row-header">
                <div class="g_col-4">
                    Nume produs
                </div>
                <div class="g_col-3">
                    Cantitate
                </div>
                <div class="g_col-3">
                    Pret
                </div>
                <div class="g_col-2">
                    Optiuni
                </div>
            </div>
            <div class="g_row cart-row-header-mobile">
                <div class="g_col-12">
                    PRODUSE IN COS
                </div>
            </div>
            <div class="g_row cart-row-item">
                <div class="g_col-12 g_col-sm-4 item-name">
                    <a href="product.html">
                        Dacia lu' tata
                    </a>
                </div>
                <div class="g_col-12 g_col-sm-3 item-quantity">
                    <button class="dec">-</button>
                    <input type="text" title="cantitate" value="1"/>
                    <button class="inc">+</button>
                </div>
                <div class="g_col-12 g_col-sm-3 item-price">
                    69.69 RON
                </div>
                <div class="g_col-12 g_col-sm-2 item-actions">
                    <button class="button-delete">
                        STERGE
                    </button>
                </div>
            </div>
            <div class="g_row cart-row-item">
                <div class="g_col-12 g_col-sm-4 item-name">
                    <a href="product.html">
                        Dacia lu' tata
                    </a>
                </div>
                <div class="g_col-12 g_col-sm-3 item-quantity">
                    <button class="dec">-</button>
                    <input type="text" title="cantitate" value="1"/>
                    <button class="inc">+</button>
                </div>
                <div class="g_col-12 g_col-sm-3 item-price">
                    69.69 RON
                </div>
                <div class="g_col-12 g_col-sm-2 item-actions">
                    <button class="button-delete">
                        STERGE
                    </button>
                </div>
            </div>
            <div class="g_row cart-row-item">
                <div class="g_col-12 g_col-sm-4 item-name">
                    <a href="product.html">
                        Dacia lu' tata
                    </a>
                </div>
                <div class="g_col-12 g_col-sm-3 item-quantity">
                    <button class="dec">-</button>
                    <input type="text" title="cantitate" value="1"/>
                    <button class="inc">+</button>
                </div>
                <div class="g_col-12 g_col-sm-3 item-price">
                    69.69 RON
                </div>
                <div class="g_col-12 g_col-sm-2 item-actions">
                    <button class="button-delete">
                        STERGE
                    </button>
                </div>
            </div>
            <div class="g_row cart-row-item">
                <div class="g_col-12 g_col-sm-4 item-name">
                    <a href="product.html">
                        Dacia lu' tata
                    </a>
                </div>
                <div class="g_col-12 g_col-sm-3 item-quantity">
                    <button class="dec">-</button>
                    <input type="text" title="cantitate" value="1"/>
                    <button class="inc">+</button>
                </div>
                <div class="g_col-12 g_col-sm-3 item-price">
                    69.69 RON
                </div>
                <div class="g_col-12 g_col-sm-2 item-actions">
                    <button class="button-delete">
                        STERGE
                    </button>
                </div>
            </div>

            <div class="cart-total">
                <div class="total-label">
                    TOTAL COMANDA
                </div>
                <div class="total-price">
                    420.99 RON
                </div>
            </div>
        </div>


        <div class="box cart-delivery">
            <h3 class="box-title">
                Detalii livrare
            </h3>
            <hr/>
            <div class="form-container">
                <form method="get" action="cart.html">
                    <div class="form-section">
                        <label for="name">
                            Nume si prenume
                        </label>
                        <input type="text" class="form-input" placeholder="Nume Prenume" name="name" id="name"/>
                    </div>
                    <div class="form-section">
                        <label for="email">
                            Adresa mail
                        </label>
                        <input type="email" class="form-input" placeholder="your@mail.com" name="email" id="email"/>
                    </div>
                    <div class="form-section">
                        <label for="phone">
                            Numar telefon
                        </label>
                        <input type="tel" class="form-input" placeholder="0000 000 000" name="phone" id="phone"/>
                    </div>
                    <div class="form-section">
                        <label for="address">
                            Numar telefon
                        </label>
                        <input type="text" class="form-input" placeholder="adresa" name="address" id="address"/>
                    </div>
                    <div class="form-section submit">
                        <button type="submit" class="form-submit-button">
                            TRIMITE COMANDA
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </main>

    <footer>
        TOYR WEBSHOP - PROIECT TW - <a href="https://github.com/Asasinovici/cityzen">GITHUB</a>
    </footer>
</div>
</body>
</html>
