<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dacia lu' tata</title>

    <link href="https://fonts.googleapis.com/css?family=Kalam:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../public/assets/css/style.css"/>
</head>
<body>
<div class="g_container product-page">
    <nav class="g_row navbar box">
        <a class="g_col-12 g_col-sm-3 g_col-lg-2 logo-container" href="index.html">
            <img src="../../../public/assets/img/logo.png" alt="TOYR" class="logo"/>
        </a>
        <div class="g_col-12 g_col-sm-9 g_col-lg-10 navlinks">
            <a class="navitem" href="register.html">
                Inregistrare
            </a>
            <a class="navitem" href="login.html">
                Autentificare
            </a>
        </div>

    </nav>


    <main>

        <div class="box">
            <h3 class="box-title">
                Dacia lu' tata
            </h3>
            <hr/>
            <div class="g_row">
                <div class="g_col-12 g_col-md-6">
                    <div class="product-preview">
                        <div class="product-main_image_container">
                            <img class="product-image" src="../../../public/assets/img/products/prod_2.png"
                                 alt="Dacia lu' tata"/>
                        </div>
                        <div class="product-other_images">
                            <div class="product-image_small_container">
                                <img alt="Poza 1" class="product-image_small"
                                     src="../../../public/assets/img/products/prod_2.png"/>
                            </div>
                            <div class="product-image_small_container">
                                <img alt="Poza 2" class="product-image_small"
                                     src="../../../public/assets/img/products/prod_3.png"/>
                            </div>
                            <div class="product-image_small_container">
                                <img alt="Poza 3" class="product-image_small"
                                     src="../../../public/assets/img/products/prod_1.png"/>
                            </div>
                            <div class="product-image_small_container">
                                <img alt="Poza 4" class="product-image_small"
                                     src="../../../public/assets/img/products/prod_2.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g_col-12 g_col-md-6">
                    <div class="product-right_panel">
                        <div class="product-short_info">
                            <div class="product-property_name">
                                DESCRIERE
                            </div>
                            <div class="product-property">
                                Cea maiblana dacie existenta in sat. Pornea la prima cheie franceza mereu si se oprea
                                doar in primul stalp. Nu polueaza pentru ca motorul functioneaza cu apa tare.
                            </div>
                            <div class="product-property_name">
                                COMBUSTIBIL
                            </div>
                            <div class="product-property">
                                Apa tare
                            </div>
                            <div class="product-property_name">
                                FRANE
                            </div>
                            <div class="product-property">
                                Ecologice: Copac
                            </div>
                            <div class="product-property_name">
                                DESTINAT COPIILOR
                            </div>
                            <div class="product-property">
                                Saraci
                            </div>
                        </div>
                        <div class="g_row product-purchase_info">
                            <hr/>
                            <div class="g_col-12 price">
                                123.34 RON
                            </div>
                            <hr/>
                            <!-- <div class="g_col-12 g_col-md-6 quantity">
                                 <button class="dec">-</button>
                                 <input type="text" title="cantitate" value="1"/>
                                 <button class="inc">+</button>
                             </div>-->
                            <div class="g_col-12 purchase-button-container">
                                <a href="cart.html" class="purchase-button">
                                    Adauga in cos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g_col-12">
                </div>
            </div>
        </div>
    </main>

    <footer>
        TOYR WEBSHOP - PROIECT TW - <a href="https://github.com/Asasinovici/cityzen">GITHUB</a>
    </footer>
</div>
</body>
</html>
