<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="../../../public/assets/css/style.css"/>
</head>

<body>
<div class="g_container">
    <div class="g_row admin_box">
        <div class="g_col-6 g_col-md-6">
            <h2>TOYR ADMIN</h2>
        </div>
        <div class="g_col-6 g_col-md-6">
            <h2 style="text-align: right">LOGOUT</h2>
        </div>
    </div>

    <div class="g_row">
        <div class="g_col-2 nav_admin">
            <div>
                <a href="index.html"><span>Adauga produs</span></a>
            </div>

            <div>
                <a href="index.html"><span>Cauta produs</span></a>
            </div>

            <div>
                <a href="index.html"><span>Introduce oferta</span></a>
            </div>

            <div>
                <a href="index.html"><span>Sterge produs</span></a>
            </div>

            <div>
                <a href="index.html"><span>Verificare client</span></a>
            </div>
        </div>

        <div class="g_col-10 command_admin">
            <div>
                <h1>Let's test this thing!</h1>
            </div>
        </div>
    </div>

</div>

</body>
</html>