<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TOYR</title>

    <link href="https://fonts.googleapis.com/css?family=Kalam:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css"/>
</head>
<body>
<div class="g_container">
    <nav class="g_row navbar">
        <a class="g_col-12 g_col-sm-3 logo-container" href="index.html">
            <img src="../../public/assets/img/logo.png" alt="TOYR" class="logo"/>
        </a>
        <div class="g_col-12 g_col-sm-9 navlinks">
            <a class="navitem" href="index.html">
                Inregistrare
            </a>
            <a class="navitem" href="index.html">
                Autentificare
            </a>
        </div>
    </nav>


    <div class="g_row">
        <div class="g_col-4 g_col-md-12">
            test
        </div>
        <div class="g_col-4 g_col-md-6">
            test 1
        </div>
        <div class="g_col-4 g_col-md-6">
            test 2
        </div>
    </div>
</div>
</body>
</html>