<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TOYR</title>

    <link href="https://fonts.googleapis.com/css?family=Kalam:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css"/>
</head>
<body>
<div class="g_container">
    <nav class="g_row navbar">
        <a class="g_col-12 g_col-sm-3 logo-container" href="index.html">
            <img src="../../public/assets/img/logo.png" alt="TOYR" class="logo"/>
        </a>
        <div class="g_col-12 g_col-sm-9 navlinks">
            <a class="navitem" href="register.html">
                Inregistrare
            </a>
            <a class="navitem" href="login.html">
                Autentificare
            </a>
        </div>
    </nav>

    <main>
        <div class="g_row">
            <div class="g_col-12">
                <div class="box">
                    <h3 class="box-title">
                        Jucării noi
                    </h3>
                    <div class="box-content">
                        <ul class="g_row products-list">
                            <li class="g_col-6 g_col-md-4 g_col-lg-3 product-item">
                                <div class="product-wrapper">
                                    <a href="index.html">
                                        <img src="../../public/assets/img/products/prod_1.png"
                                             alt="om lego"
                                             class="product-image"
                                        />
                                    </a>
                                    <div class="product-data">
                                        <div class="product-name">
                                            Șantierist de plastic
                                        </div>
                                        <div class="product-price">
                                            420,69 RON
                                        </div>
                                        <div class="product-buttons">
                                            <a href="index.html" class="product-button">
                                                Cumpără
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="g_col-6 g_col-md-4 g_col-lg-3 product-item">
                                <div class="product-wrapper">
                                    <a href="index.html">
                                        <img src="../../public/assets/img/products/prod_2.png"
                                             alt="balaur teribil"
                                             class="product-image"
                                        />
                                    </a>
                                    <div class="product-data">
                                        <div class="product-name">
                                            Balaur teribil
                                        </div>
                                        <div class="product-price">
                                            1,00 RON
                                        </div>
                                        <div class="product-buttons">
                                            <a href="index.html" class="product-button">
                                                Cumpără
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="g_col-6 g_col-md-4 g_col-lg-3 product-item">
                                <div class="product-wrapper">
                                    <a href="index.html">
                                        <img src="../../public/assets/img/products/prod_3.png"
                                             alt="dacia"
                                             class="product-image"
                                        />
                                    </a>
                                    <div class="product-data">
                                        <div class="product-name">
                                            Dacia lu' tata
                                        </div>
                                        <div class="product-price">
                                            15,99 RON
                                        </div>
                                        <div class="product-buttons">
                                            <a href="index.html" class="product-button">
                                                Cumpără
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="g_col-6 g_col-md-4 g_col-lg-3 product-item">
                                <div class="product-wrapper">
                                    <a href="index.html">
                                        <img src="../../public/assets/img/products/prod_1.png"
                                             alt="om lego"
                                             class="product-image"
                                        />
                                    </a>
                                    <div class="product-data">
                                        <div class="product-name">
                                            Colegul Șantieristului de plastic
                                        </div>
                                        <div class="product-price">
                                            69,69 RON
                                        </div>
                                        <div class="product-buttons">
                                            <a href="index.html" class="product-button">
                                                Cumpără
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="g_col-12">
                <div class="box">
                    <h3 class="box-title">
                        Cele mai vândute
                    </h3>
                    <div class="box-content">

                    </div>
                </div>
            </div>
            <div class="g_col-12">
                <div class="box">
                    <h3 class="box-title">
                        Jucării noi
                    </h3>
                    <div class="box-content">

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        TOYR WEBSHOP - PROIECT TW - <a href="https://github.com/Asasinovici/cityzen">GITHUB</a>
    </footer>
</div>
</body>
</html>