<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css"/>
</head>

<body>
    <!-- This is how you write comments -->
    <div class="g_container">

        <!-- The place for the navbar -->
        <nav class="g_row navbar">
            <h1>The nav bar, under development</h1>
        </nav>

        <!-- The backbone of login view -->
        <a class="navbar navitem navlinks g_row g_col-12" href="index.html"> Autentificare </a>

        <div class="g_row form-style">

            <form class="g_col-12">
                <div class="form_element">
                    <label for="email" >E-mail:</label>
                </div>
                <div class="form_element">
                    <input type="email" id="email" name="email">
                </div>

                <div class="form_element">
                    <label for="password">Parola:</label>
                </div>
                <div class="form_element">
                    <input type="password" id="password" name="passward">
                </div>

                <div class="form_element">
                    <label for="checkbox_input" class="g_col-md-4">Tine-ma minte! </label>
                    <input type="checkbox" id="checkbox_input" name="remember" class="g_col-md-4">
                </div>

                <div class="form_element">
                    <button type="submit" class="r_button">Autentificare</button>
                </div>
                <div class="form_element">
                    <a href="login.html">Recupereaza parola.</a>
                </div>

            </form>
        </div>

    </div>
</body>
</html>
