<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inregistrare</title>

    <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css"/>
</head>

<body>
    <div class="g_container">
        <!-- The place for the navbar -->
        <nav class="g_row navbar">
            <h1>The nav bar, under development</h1>
        </nav>

        <!-- The place for the h1 -->

        <div class="g_row form-style">
            <form class="g_col-12">
                <div class="form_element">
                    <label for="prenume">Prenume*:</label>
                </div>
                <div class="form_element">
                    <input type="text" id="prenume" name="prenume">
                </div>

                <div class="form_element">
                    <label for="nume">Nume*:</label>
                </div>
                <div class="form_element">
                    <input type="text" id="nume" name="nume">
                </div>

                <div class="form_element">
                    <label for="telefon">Telefon*</label>
                </div>
                <div class="form_element">
                    <input type="tel" id="telefon" name="telefon">
                </div>

                <div class="form_element">
                    <label for="email">Email*:</label>
                </div>
                <div class="form_element">
                    <input type="email" id="email" name="email">
                </div>

                <div class="form_element">
                    <label for="pwd1">Parola*:</label>
                </div>
                <div class="form_element">
                    <input type="password" id="pwd1" name="pwd1">
                </div>

                <div class="form_element">
                    <label for="pwd2">Reintroduceti parola*:</label>
                </div>
                <div class="form_element">
                    <input type="password" id="pwd2" name="pwd2">
                </div>

                <div class="form_element">
                    <p>Campurile marcate cu * sunt obligatorii.</p>
                </div>

                <div class="form_element">
                    <input type="checkbox" checked="checked" class="inline_display">
                    <p class="inline_display">Doresc sa primesc email-uri cu noutatile si campaniile realizate de TOYR.</p>
                </div>

                <div class="form_element">
                    <button type="submit" class="r_button">Creeaza cont</button>
                </div>


            </form>
        </div>
    </div>
</body>
</html>