/*
BEGIN CSS reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin         : 0;
    padding        : 0;
    border         : 0;
    font-size      : 100%;
    font           : inherit;
    vertical-align : baseline;
    box-sizing     : border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display : block;
}

body {
    line-height : 1;
}

ol, ul {
    list-style : none;
}

blockquote, q {
    quotes : none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content : '';
    content : none;
}

table {
    border-collapse : collapse;
    border-spacing  : 0;
}

/*
END CSS reset
 */

/*
START grid system
 */

.g_container {
    width        : 100%;
    max-width    : 1200px;
    margin-right : auto;
    margin-left  : auto;
}

.g_row {
    display   : flex;
    flex-wrap : wrap;
}

.g_column_direction {
    display        : flex;
    flex-wrap      : wrap;
    flex-direction : column;
}

.g_col {
    flex-basis : 0;
    flex-grow  : 1;
    max-width  : 100%;
}

.g_col-auto {
    flex      : 0 0 auto;
    width     : auto;
    max-width : none;
}

.g_col-1 {
    flex      : 0 0 8.333333%;
    max-width : 8.333333%;
}

.g_col-2 {
    flex      : 0 0 16.666667%;
    max-width : 16.666667%;
}

.g_col-3 {
    flex      : 0 0 25%;
    max-width : 25%;
}

.g_col-4 {
    flex      : 0 0 33.333333%;
    max-width : 33.333333%;
}

.g_col-5 {
    flex      : 0 0 41.666667%;
    max-width : 41.666667%;
}

.g_col-6 {
    flex      : 0 0 50%;
    max-width : 50%;
}

.g_col-7 {
    flex      : 0 0 58.333333%;
    max-width : 58.333333%;
}

.g_col-8 {
    flex      : 0 0 66.666667%;
    max-width : 66.666667%;
}

.g_col-9 {
    flex      : 0 0 75%;
    max-width : 75%;
}

.g_col-10 {
    flex      : 0 0 83.333333%;
    max-width : 83.333333%;
}

.g_col-11 {
    flex      : 0 0 91.666667%;
    max-width : 91.666667%;
}

.g_col-12 {
    flex      : 0 0 100%;
    max-width : 100%;
}

@media (min-width : 576px) {
    .g_container {
        width : 100%;
    }

    .g_col-sm {
        flex-basis : 0;
        flex-grow  : 1;
        max-width  : 100%;
    }

    .g_col-sm-auto {
        flex      : 0 0 auto;
        width     : auto;
        max-width : none;
    }

    .g_col-sm-1 {
        flex      : 0 0 8.333333%;
        max-width : 8.333333%;
    }

    .g_col-sm-2 {
        flex      : 0 0 16.666667%;
        max-width : 16.666667%;
    }

    .g_col-sm-3 {
        flex      : 0 0 25%;
        max-width : 25%;
    }

    .g_col-sm-4 {
        flex      : 0 0 33.333333%;
        max-width : 33.333333%;
    }

    .g_col-sm-5 {
        flex      : 0 0 41.666667%;
        max-width : 41.666667%;
    }

    .g_col-sm-6 {
        flex      : 0 0 50%;
        max-width : 50%;
    }

    .g_col-sm-7 {
        flex      : 0 0 58.333333%;
        max-width : 58.333333%;
    }

    .g_col-sm-8 {
        flex      : 0 0 66.666667%;
        max-width : 66.666667%;
    }

    .g_col-sm-9 {
        flex      : 0 0 75%;
        max-width : 75%;
    }

    .g_col-sm-10 {
        flex      : 0 0 83.333333%;
        max-width : 83.333333%;
    }

    .g_col-sm-11 {
        flex      : 0 0 91.666667%;
        max-width : 91.666667%;
    }

    .g_col-sm-12 {
        flex      : 0 0 100%;
        max-width : 100%;
    }
}

@media (min-width : 768px) {
    .g_container {
        max-width : 720px;
    }

    .g_col-md {
        flex-basis : 0;
        flex-grow  : 1;
        max-width  : 100%;
    }

    .g_col-md-auto {
        flex      : 0 0 auto;
        width     : auto;
        max-width : none;
    }

    .g_col-md-1 {
        flex      : 0 0 8.333333%;
        max-width : 8.333333%;
    }

    .g_col-md-2 {
        flex      : 0 0 16.666667%;
        max-width : 16.666667%;
    }

    .g_col-md-3 {
        flex      : 0 0 25%;
        max-width : 25%;
    }

    .g_col-md-4 {
        flex      : 0 0 33.333333%;
        max-width : 33.333333%;
    }

    .g_col-md-5 {
        flex      : 0 0 41.666667%;
        max-width : 41.666667%;
    }

    .g_col-md-6 {
        flex      : 0 0 50%;
        max-width : 50%;
    }

    .g_col-md-7 {
        flex      : 0 0 58.333333%;
        max-width : 58.333333%;
    }

    .g_col-md-8 {
        flex      : 0 0 66.666667%;
        max-width : 66.666667%;
    }

    .g_col-md-9 {
        flex      : 0 0 75%;
        max-width : 75%;
    }

    .g_col-md-10 {
        flex      : 0 0 83.333333%;
        max-width : 83.333333%;
    }

    .g_col-md-11 {
        flex      : 0 0 91.666667%;
        max-width : 91.666667%;
    }

    .g_col-md-12 {
        flex      : 0 0 100%;
        max-width : 100%;
    }
}

@media (min-width : 992px) {
    .g_container {
        max-width : 960px;
    }

    .g_col-lg {
        flex-basis : 0;
        flex-grow  : 1;
        max-width  : 100%;
    }

    .g_col-lg-auto {
        flex      : 0 0 auto;
        width     : auto;
        max-width : none;
    }

    .g_col-lg-1 {
        flex      : 0 0 8.333333%;
        max-width : 8.333333%;
    }

    .g_col-lg-2 {
        flex      : 0 0 16.666667%;
        max-width : 16.666667%;
    }

    .g_col-lg-3 {
        flex      : 0 0 25%;
        max-width : 25%;
    }

    .g_col-lg-4 {
        flex      : 0 0 33.333333%;
        max-width : 33.333333%;
    }

    .g_col-lg-5 {
        flex      : 0 0 41.666667%;
        max-width : 41.666667%;
    }

    .g_col-lg-6 {
        flex      : 0 0 50%;
        max-width : 50%;
    }

    .g_col-lg-7 {
        flex      : 0 0 58.333333%;
        max-width : 58.333333%;
    }

    .g_col-lg-8 {
        flex      : 0 0 66.666667%;
        max-width : 66.666667%;
    }

    .g_col-lg-9 {
        flex      : 0 0 75%;
        max-width : 75%;
    }

    .g_col-lg-10 {
        flex      : 0 0 83.333333%;
        max-width : 83.333333%;
    }

    .g_col-lg-11 {
        flex      : 0 0 91.666667%;
        max-width : 91.666667%;
    }

    .g_col-lg-12 {
        flex      : 0 0 100%;
        max-width : 100%;
    }
}

@media (min-width : 1200px) {
    .g_container {
        max-width : 1140px;
    }

    .g_col-xl {
        flex-basis : 0;
        flex-grow  : 1;
        max-width  : 100%;
    }

    .g_col-xl-auto {
        flex      : 0 0 auto;
        width     : auto;
        max-width : none;
    }

    .g_col-xl-1 {
        flex      : 0 0 8.333333%;
        max-width : 8.333333%;
    }

    .g_col-xl-2 {
        flex      : 0 0 16.666667%;
        max-width : 16.666667%;
    }

    .g_col-xl-3 {
        flex      : 0 0 25%;
        max-width : 25%;
    }

    .g_col-xl-4 {
        flex      : 0 0 33.333333%;
        max-width : 33.333333%;
    }

    .g_col-xl-5 {
        flex      : 0 0 41.666667%;
        max-width : 41.666667%;
    }

    .g_col-xl-6 {
        flex      : 0 0 50%;
        max-width : 50%;
    }

    .g_col-xl-7 {
        flex      : 0 0 58.333333%;
        max-width : 58.333333%;
    }

    .g_col-xl-8 {
        flex      : 0 0 66.666667%;
        max-width : 66.666667%;
    }

    .g_col-xl-9 {
        flex      : 0 0 75%;
        max-width : 75%;
    }

    .g_col-xl-10 {
        flex      : 0 0 83.333333%;
        max-width : 83.333333%;
    }

    .g_col-xl-11 {
        flex      : 0 0 91.666667%;
        max-width : 91.666667%;
    }

    .g_col-xl-12 {
        flex      : 0 0 100%;
        max-width : 100%;
    }
}

[class^='g_col-'] {
    padding : 5px;
}

/*
END grid system
 */

body {
    color       : #333333;
    background  : #F2F2F2;
    font-family : 'Roboto', sans-serif;
}

main {
    min-height : 100vh;
}

a {
    color           : #00AEEF;
    text-decoration : none;
}

a:hover {
    color           : #0073EF;
    text-decoration : underline;
}

footer {
    background : #FFFFFF;
    color      : #666666;
    padding    : 25px;
    display    : flex;
    flex       : 1;
    margin-top : 15px;
}

footer a {
    text-decoration : underline;
}

hr {
    border     : none;
    border-top : 3px dashed #F2F2F2;
    padding    : 0;
    width      : 100%;
    margin     : 15px 0;
    background : #FFFFFF;
}

.navbar {
    margin-bottom : 15px;
    font-family   : 'Kalam', cursive;
    font-size     : 18px;
    font-weight   : bold;
}

.navbar .logo-container {
    padding : 5px;
}

.navbar .logo-container .logo {
    max-height : 200px;
    width      : 100%;
}

.navbar .navlinks {
    display         : flex;
    flex-direction  : row;
    justify-content : flex-end;
    align-items     : center;
}

.navbar .navlinks .navitem {
    display          : block;
    background-color : transparent;
    margin-right     : 10px;
    padding          : 15px 20px;
    border           : 3px solid transparent;
    transform        : rotate(0deg);
    border-radius    : 15px;
    box-shadow       : none;
    transition       : border 150ms ease, transform 150ms ease, box-shadow 150ms ease, background-color 150ms ease;
}

.navbar .navlinks .navitem:last-of-type {
    margin-right : 0;
}

.second-navbar {
    border-bottom : 3px dashed #DDDDDD;
}

.second-navbar .categ-button {
    text-decoration : none;
    background      : #00A651;
    color           : #FFFFFF;
    font-size       : 18px;
    font-weight     : bold;
    height          : 46px;
    line-height     : 40px;
    padding         : 0 15px;
    display         : block;
    border          : 3px solid #007236;
    transition      : background 150ms ease;
}

.second-navbar .categ-button:hover {
    background : #007236;
    transition : background 150ms ease;
}

.second-navbar .search-container {
    display         : flex;
    flex            : 1;
    justify-content : center;
    align-items     : center;
}

.second-navbar .search-container .search-input {
    border        : 3px solid #00AEEF;
    border-radius : 23px 0 0 23px;
    outline       : none;
    height        : 40px;
    padding       : 0 15px;
    flex          : 1;
    font-size     : 16px;
    box-shadow    : none;
    transition    : box-shadow 150ms ease, border 150ms ease;
}

.second-navbar .search-container .search-input:focus {
    border     : 3px solid #0073EF;
    box-shadow : inset 0 0 0 3px #0073EF;
    transition : box-shadow 150ms ease, border 150ms ease;
}

.second-navbar .search-container .search-button {
    background    : #00AEEF;
    border        : none;
    outline       : none;
    height        : 46px;
    padding       : 5px 20px 5px 15px;
    border-radius : 0 23px 23px 0;
    cursor        : pointer;
    color         : #FFFFFF;
    font-size     : 16px;
    font-weight   : bold;
    transition    : background-color 150ms ease;
}

.second-navbar .search-container .search-button:hover {
    background : #0073EF;
    transition : background-color 150ms ease;
}

nav.box,
main.box,
div.box {
    background    : #FFFFFF;
    border-radius : 3px;
    padding       : 10px;
}

div.box h3.box-title {
    font-family : 'Kalam', cursive;
    font-size   : 24px;
    font-weight : bold;
    color       : #00AEEF;
    line-height : 18px;
    padding     : 10px 0 5px 0;
}

div.box label.box-title {
    font-family : 'Kalam', cursive;
    font-size   : 16px;
    font-weight : bold;
    color       : #00AEEF;
    line-height : 20px;
    padding     : 10px 0 0 15px;
}

div.box div.box-content input {
    border        : 2px solid #0073EF;
    border-radius : 3px;
    /*don't know how to change the dimensions :(*/
}

div.box div.box-content {
    padding-top : 5px;
}

ul.products-list {
}

ul.products-list li.product-item {
    padding : 1px;
    z-index : 1;
}

ul.products-list li.product-item:hover {
    z-index : 2;
}

ul.products-list li.product-item .product-wrapper {
    background : #FFFFFF;
    display    : block;
    border     : 5px solid #CCCCCC;
    padding    : 10px;
    transform  : translateY(0) scale(1);
    box-shadow : none;
    transition : transform 150ms ease, border 150ms ease;
}

ul.products-list li.product-item .product-wrapper img.product-image {
    width      : 100%;
    height     : auto;
    background : #F1F1F1;
}

ul.products-list li.product-item .product-wrapper .product-data {
    padding-top : 5px;
    text-align  : center;
}

ul.products-list li.product-item .product-wrapper .product-data .product-price {
    color       : #FF6666;
    font-size   : 24px;
    font-weight : bold;
    padding     : 10px 0;
}

ul.products-list li.product-item .product-wrapper .product-data .product-buttons .product-button {
    display    : block;
    padding    : 10px;
    background : #00AEEF;
    color      : #FFFFFF;
    font-size  : 16px;
    text-align : center;
    transition : background 150ms ease;
}

ul.products-list li.product-item .product-wrapper .test {
    display : block;
}

.r_button {
    background-color : #4CAF50;
    border           : none;
    padding          : 15px 15px;
    text-align       : center;
    border-radius    : 3px;
}

.inline_display {
    display : inline;
}

div.admin_box {
    background    : #00AEEF;
    border-radius : 3px;
    padding       : 5px;
    color         : white;
    font-size     : 20px;
    margin        : 0;

}

.nav_admin {
    background : white;
}

.nav_admin_a {
    display       : block;
    border-bottom : 1px solid #00AEEF;
    height        : 40px;
    margin-bottom : 10px;
}

.command_admin {
    min-height : 95vh;
    background : #EEEEEE;
}

.select_style {
    margin-top       : 5px;
    margin-bottom    : 20px;
    background-color : #00AEEF;
    border           : transparent;
    font-family      : 'Kalam', cursive;
    font-size        : 16px;
    width            : 40%;
}

.form_style {
    margin-top    : 5px;
    margin-bottom : 20px;
}

.product-page {

}

.product-page .product-preview {

}

.product-page .product-preview .product-main_image_container {
    border          : 5px solid #00AEEF;
    background      : #F2F2F2;
    display         : flex;
    justify-content : center;
    align-items     : center;
    margin-bottom   : 15px;
}

.product-page .product-preview .product-image {
    display    : block;
    width      : 100%;
    height     : auto;
    max-height : 100%;
}

.product-page .product-preview .product-other_images {
    display        : flex;
    flex-direction : row;
}

.product-page .product-preview .product-other_images {
    display        : flex;
    flex-direction : row;
}

.product-page .product-preview .product-other_images .product-image_small_container {
    border          : 3px solid #00AEEF;
    margin-right    : 5px;
    background      : #F2F2F2;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.product-page .product-preview .product-other_images .product-image_small_container .product-image_small {
    display    : block;
    max-width  : 100%;
    width      : auto;
    height     : auto;
    max-height : 100%;
}

.product-page .product-right_panel {
    height : 100%;
}

.product-page .product-short_info {
    padding        : 10px 15px;
    display        : flex;
    flex-direction : column;
    flex           : 1;
}

.product-page .product-property_name {
    padding-bottom : 5px;
    text-transform : uppercase;
    font-size      : 14px;
    font-weight    : bold;
}

.product-page .product-property {
    padding-bottom : 15px;
    font-size      : 14px;
}

.product-page .product-right_panel {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.product-page .product-purchase_info {
    padding     : 0 15px;
    align-items : center;
}

.product-page .product-purchase_info > div {
    padding : 5px;
}

.product-page .product-purchase_info .price {
    font-size     : 34px;
    color         : #FF6666;
    padding-right : 25px;
    text-align    : center;
}

.product-page .product-purchase_info .purchase-button {
    padding         : 0 25px;
    height          : 50px;
    line-height     : 50px;
    text-decoration : none;
    border          : none;
    background      : #00AEEF;
    color           : #FFFFFF;
    font-size       : 18px;
    cursor          : pointer;
    transition      : background-color 150ms ease;
}

.product-page .product-purchase_info .purchase-button:hover {
    background : #0073EF;
    transition : background-color 150ms ease;
}

.product-page .product-purchase_info .purchase-button-container {
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    align-items     : center;
}

.product-page div.box h3.box-title {
    font-size     : 32px;
    border        : none;
    padding       : 15px 10px 0 10px;
    margin-bottom : 15px;
    color         : #333333;
    line-height   : 36px;
}

.cart-page .cart-row-header {
    background : #EEEEEE;
    color      : #666666;
}

.cart-page .cart-row-header-mobile {
    background : #EEEEEE;
    color      : #666666;
    display    : none;
    text-align : center;
}

.cart-page .cart-row-header-mobile > div,
.cart-page .cart-row-header > div,
.cart-page .cart-row-item > div {
    padding : 15px 10px;
}

.cart-page .cart-row-item {
    border-bottom : 1px dashed #DDDDDD;
}

.cart-page .cart-row-item .item-actions,
.cart-page .cart-row-item .item-price,
.cart-page .cart-row-item .item-name {
    line-height : 30px;
    font-size   : 18px;
}

.cart-page .cart-row-item .item-quantity {
    display        : flex;
    flex-direction : row;
}

.cart-page .cart-row-item .item-quantity input {
    border      : 3px solid #007236;
    background  : #00A651;
    color       : #FFFFFF;
    font-weight : bold;
    text-align  : center;
    outline     : none;
    width       : 16px;
    height      : 24px;
    padding     : 0 5px;
    font-size   : 16px;
    transition  : border 150ms ease;
}

.cart-page .cart-row-item .item-quantity input:focus,
.cart-page .cart-row-item .item-quantity input:hover {
    border     : 3px solid #007236;
    transition : border 150ms ease;
}

.cart-page .cart-row-item .item-quantity button {
    display     : block;
    outline     : none;
    height      : 30px;
    width       : 30px;
    color       : #FFFFFF;
    font-size   : 18px;
    font-weight : bold;
    padding     : 0;
    cursor      : pointer;
    background  : #00A651;
    border      : 3px solid #007236;
    transition  : background-color 150ms ease;
}

.cart-page .cart-row-item .item-quantity button:hover {
    background : #007236;
    transition : background-color 150ms ease;
}

.cart-page .cart-row-item .item-actions .button-delete {
    border      : 3px solid #FF2E44;
    background  : #FF6666;
    color       : #FFFFFF;
    cursor      : pointer;
    padding     : 0 10px;
    line-height : 25px;
    height      : 30px;
    transition  : background-color 150ms ease;
}

.cart-page .cart-row-item .item-actions .button-delete:hover {
    background : #FF2E44;
    transition : background-color 150ms ease;
}

.cart-page .cart-total {
    text-align : center;
    width      : 100%;
    padding    : 40px 15px 30px 15px;
}

.cart-page .cart-total .total-label {

}

.cart-page .cart-total .total-price {
    color     : #FF2E44;
    font-size : 36px;
}

.cart-page .cart-delivery {
    margin-top : 15px;
}

.cart-page .cart-delivery .form-container {
    padding : 0 15px;
}

.cart-page .cart-delivery .form-container .form-section {
    padding-top    : 5px;
    padding-bottom : 10px;
}

.cart-page .cart-delivery .form-container .form-section.submit {
    padding         : 30px 20px 20px 20px;
    display         : flex;
    justify-content : center;
}

.cart-page .cart-delivery .form-container .form-section label {
    margin-bottom : 5px;
    padding-left  : 15px;
    color         : #00AEEF;
    display       : block;
}

.cart-page .cart-delivery .form-container .form-section .form-input {
    height        : 36px;
    width         : 100%;
    border-radius : 25px;
    border        : 3px solid #00AEEF;
    padding       : 0 10px;
    box-sizing    : border-box;
}

.cart-page .cart-delivery .form-container .form-section .form-submit-button {
    border        : none;
    min-height    : 50px;
    font-size     : 22px;
    color         : #FFFFFF;
    background    : #00AEEF;
    padding       : 10px 25px;
    border-radius : 50px;
    cursor        : pointer;
    transition    : background-color 150ms ease;
}

.cart-page .cart-delivery .form-container .form-section .form-submit-button:hover {
    background : #0073EF;
    transition : background-color 150ms ease;
}

/*
START MEDIA QUERIES
 */
@media (max-width : 768px) {
    div.box {
        padding : 10px 5px;
    }
}

@media (max-width : 576px) {
    .cart-page .cart-row-header {
        display : none;
    }

    .cart-page .cart-row-item > div {
        padding         : 5px 10px;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }

    .cart-page .cart-row-header-mobile {
        display : flex;
    }

}

@media (min-width : 992px) {

    .navbar .navlinks .navitem:hover {
        border           : 3px solid #0073EF;
        background-color : #FFFFFF;
        border-radius    : 15px;
        transform        : rotate(3deg);
        box-shadow       : 0 5px 25px rgba(0, 0, 0, 0.3);
        transition       : border 150ms ease, transform 150ms ease, box-shadow 150ms ease, background-color 150ms ease;
    }

    ul.products-list li.product-item .product-wrapper:hover {
        transform  : translateY(0) scale(1.1);
        border     : 5px solid #00AEEF;
        transition : transform 150ms ease, border 150ms ease;
    }

    ul.products-list li.product-item .product-wrapper .product-data .product-buttons .product-button:hover {
        background : #0073EF;
        transition : background 150ms ease;
    }
}

textarea {
    width            : 100%;
    padding          : 12px 20px;
    box-sizing       : border-box;
    border           : 2px solid #CCCCCC;
    border-radius    : 4px;
    background-color : #F8F8F8;
    font-size        : 16px;
    resize           : none;
}

/*
END MEDIA QUERIES
 */